@import "tailwindcss";

:root{
  --zinc-50:hsl(0, 0%, 98%);
  --zinc-100:hsl(242, 4%, 95%);
  --zinc-200:hsl(242, 6%, 87%);
  --zinc-300:hsl(240, 6%, 80%);
  --zinc-400:hsl(240, 6%, 58%);
  --zinc-500:hsl(240, 5%, 39%);
  --zinc-600:hsl(240, 7%, 27%);
  --zinc-700:hsl(238, 6%, 23%);
  --zinc-800:hsl(238, 4%, 14%);
  --zinc-900:hsl(238, 4%, 10%);
  --zinc-950:hsl(238, 8%, 5%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--zinc-950);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-crimson-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  padding: 1.875rem 5.625rem;
}

h1{
  font-family: var(--font-crimson-text);
  font-size: 16rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  color: var(--zinc-950);
}